# General
.DS_Store
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.npm/

# Backend / Data
backend/uploads/
backend/vectorstore/
*.sqlite3

# IDE
.vscode/
.idea/
