fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
chromadb
langchain
langchain-openai
langchain-google-genai
langchain-community
openai
PyPDF2
python-dotenv
motor
tiktoken
google-auth
requests
pysqlite3-binary
