fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
chromadb
langchain
langchain-openai
langchain-community
sentence-transformers
openai
PyPDF2
python-dotenv
motor
tiktoken
google-auth
requests
